h1{
  display: block;
  width: 1000px;
  margin: 0 auto;
}

body{
  background-color: #e6e6e6;
}


.images {
text-align: center;
}

.pic{
  display: inline-block;
  padding: 2em;
  margin-top: 3em;
}

.images .text{
  text-align: center;
  position: relative;
  visibility: hidden;

}

.pic:hover .text{
  visibility: visible;
}

.pic {
    display:inline-block;
    position: relative;
}


#white:hover{
  filter: alpha(opacity=50);
  background: rgba(255, 255, 153, 0.3);
}

#red:hover{
  filter: alpha(opacity=50);
  background: rgba(255, 0, 0, 0.6);
}

#dessert:hover{
  filter: alpha(opacity=50);
  background: rgba(153, 153, 255, 0.3);
}
 
.pic:hover: {
    opacity: 0;
}

.pic p{
  font-size: 200%;
}

footer{
  width: 100%;
  padding: 0.5px;
  background-color: silver;
  text-align: center;
  margin-left: 0;

}





